# 주피터로 파이썬 무작정 따라하기

## 1-1 import 하기

In [1]:
import pandas as pd

## 1-2 csv파일 불러오기

In [2]:
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

## 1-3 파이썬 행 열 갯수 확인하기(shape)

In [3]:
print("train [row, col] = ", train.shape)
print("test [row, col] = ", test.shape)

train [row, col] =  (1459, 11)
test [row, col] =  (715, 10)

## 1-4 데이터 확인하기(head(), tail())

In [8]:
train.head(5) #파라메터의 숫자가 몇개의 row를 보여주는지 확인

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [10]:
test.head(6)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0
5,10,9,20.2,0.0,4.3,39.0,2000.0,0.034,22.0,7.0

## 1-5 결측치(데이터에 값이 없는것) 확인하기
pandas에서 결측치를 NaN이라고 표현
isnull()를 사용하면 DataFrame에서 NaN 값을 확인 할 수 있습니다
isnull()은 DataFrame에서 데이터가 NaN 인경우 {@code True} 그렇지 않으면 {@code False}

In [11]:
print(train.isnull())

         id   hour  hour_bef_temperature  hour_bef_precipitation  \
0     False  False                 False                   False
1     False  False                 False                   False
2     False  False                 False                   False
3     False  False                 False                   False
4     False  False                 False                   False
...     ...    ...                   ...                     ...
1454  False  False                 False                   False
1455  False  False                 False                   False
1456  False  False                 False                   False
1457  False  False                 False                   False
1458  False  False                 False                   False

      hour_bef_windspeed  hour_bef_humidity  hour_bef_visibility  \
0                  False              False                False
1                  False              False                False
2                  False              False                False
3                  False              False                False
4                  False              False                False
...                  ...                ...                  ...
1454               False              False                False
1455               False              False                False
1456               False              False                False
1457               False              False                False
1458               False              False                False

      hour_bef_ozone  hour_bef_pm10  hour_bef_pm2.5  count
0              False          False           False  False
1              False          False           False  False
2              False          False           False  False
3              False          False           False  False
4              False          False           False  False
...              ...            ...             ...    ...
1454           False          False           False  False
1455           False          False           False  False
1456           False          False           False  False
1457           False          False           False  False
1458           False          False           False  False

[1459 rows x 11 columns]

In [13]:
test.isnull().sum() # =:데이터가 없는 개수 확인

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

# 2. 전처리

## 2-1 파이썬 데이터 기본 정보 확인 info()
feature들의 기본정보(결측치와 DataType 등)를 확인할 수 있습니다

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

## 결측치 삭제, 대체(dropna, fillna)
결측치를 처리하는 방법은 다양하지만 여기서는 가장 간단한 방법인 결측치를 가진 row를 제거하는 방법 사용

In [19]:
train = train.dropna()
test = test.fillna(0)